{% extends 'base.html' %}
{% block content %}

<h1>Climb List</h1>

{% for climb in climbs %}
  <div class="card">
    <a href="{% url 'detail' climb.id %}">
    <div class="card-content">
      <span class="card-title">{{ climb.name }}</span>
      <p>Rating {{ climb.rating }}</p>
      <p>Description: {{ climb.description }}</p>
      <p>Location: {{ climb.location }}</p>
      {% if climb.people > 0 %}
        <p>Number of people that have completed this climb: {{ climb.people }}</p>
      {% else %}
        <p>Has never been completed!</p>
      {% endif %}
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}
