{% extends 'base.html' %}
{% block content %}

<h1>Climb List</h1>

{% for climb in object_list %}
  <div class="card">
    <a href="{% url 'detail' climb.id %}">
    <div class="card-content">
      <span class="card-title">{{ climb.name }}</span>
      <p>Rating: {{ climb.rating }}</p>
      <p>Description: {{ climb.description }}</p>
      <p>Location: {{ climb.location }}</p>
      {% if climb.attempts > 1 %}
        <p>How many attempts? {{ climb.attempts }}</p>
      {% else %}
        <p>Flashed it!</p>
      {% endif %}
    </div>
  </a>
  </div>
{% endfor %}

{% endblock %}
